@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-ovo: var(--font-ovo);
  --font-outfit: var(--font-outfit);
  --font-roboto: var(--font-roboto);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-ovo: var(--font-ovo);
  --font-outfit: var(--font-outfit);
  --font-roboto: var(--font-roboto);


  --color-purplespace-100: #332941;
  --color-purplespace-200: #3B3486;
  --color-purplespace-300: #00CAFF;
  --color-purplespace-400: #00FFDE;

  --color-font-primary: #CED6F4;
  --color-font-secondary: #8A92AD;
  --color-font-emphasize: #00FFDE;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-purplespace-100);
  color: var(--foreground);
  font-family: var(--font-roboto);
  font: #ffffff;
}

